/*----------------------------------------------------------------------------*/
/* ---------------------- Estilos para acerca_de.html ----------------------- */
/*----------------------------------------------------------------------------*/

/* Estilos para el Contenido principal */
.main_about{
    @include main_content();
    /* Estilos para la seccion de biografia */
    .about_bio{
        // los parametros de este mixin son alto, ancho y margen
        @include custom_card(90%, auto, 20px 0);
        /* Imagen de biografia */
        picture{
            img{
                width: auto;
                height: 400px;
            }
        }
        /* Texto biografia */
        .about_bio_content{
            width: 60%;
            height: auto;
            margin: 30px auto;
            text-align: center;

            h2{
                padding: 10px 10px;
            }
        }
    }
    /* Estilos para linea de separacion */
    .line{
        @include line_deco();
        } 
     /* Estilos la seccion de dibujo en vivo */
     .content_blog{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        .content_title{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 20px 40px;
        }

        .card{
            width: 320px;
            margin-bottom: 15px;

            img{
                width: 100%;    
            }
        }
    }
}

/* ------------------------------------------------------------------------------ */
/* ------------------------Media para el modo responsive------------------------- */
/* ------------------------------------------------------------------------------ */
@media (max-width:800px){
       /* Estilos para acerca_de.html */
       .about_bio{
       justify-content: center;
    }
}