/*------------------------------------------------------------------------------------*/
/* ---------------------------- Estilos para galeria.html ------------------------ */
/*--------------------------------------------------------------------------------*/
/* Estilos para la Galeria */
.main_galeria{
        grid-area: content;
        padding-top: 480px;

        // Estilos para las imagenes
        .galeria{
            display: grid;
            width: 100%;
            overflow: hidden;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            margin: auto;
            gap: 10px;
            padding: 10px 0px;
            background-color: #333;
        
            grid-area: content;

            a{
                display: block;
                position: relative;
                overflow: hidden;
                box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);

                img{
                    width: 100%;
                    vertical-align: top;
                    height: 300px;
                    object-fit: cover;
                    transition: transform 0.5s;
                }&:hover img{
                    filter: blur(2px);
                    transform: rotate(10deg) scale(1.3);
                    }
            }
        }

        // Estilo para imagenes en Zoom
        .light_box{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0,.5);
            transition: transform .3s ease-in-out;
            width: 100%;
            height: 100vh;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(0);

            // Boton next
            .next{
                @include btn_next( 30px, 30px, 30px, #333, #9dff00);
            }
            // IMG
            img{
                min-width: 25vh;
                max-height: 100vh;
            }
            // Boton close
            .close{
                @include btn_close();
            }
           
        }.light_box:target{
            transform: scale(1);
        }
}

/* ------------------------------------------------------------------------------ */
/* ------------------------Media para el modo responsive------------------------- */
/* ------------------------------------------------------------------------------ */
/*Estilos para galeria modo movile*/
@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close{
        top: 20px;
        right: 20px;
    }
}

@media (max-width:770px){
     /*Estilos para galeria modo movile*/
    .light_box img {
        width: 85vw;
        max-height: 100vh;
    }
    .main_galeria{
        margin-top: -100px;
    }
   
}
