/* estilo para la tipografia desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
/* Iconos Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* Estilos generales para index.html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
/*----------------------------------------------------------------------------*/
/* ------------------- Estilos para la navegacion Header -------------------- */
/*----------------------------------------------------------------------------*/
/*Estilos para el contenedor Principal*/
.main_container{
    min-height: 100vh;
    background-color: #fff;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "nav"
    "content"
    "footer";
}
/*Estilos para navegacion responsive*/
.nav_container{
    --state-close: scale(0);
    --state-menu: scale(1);
    --state-bg: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}
/*Contenido de la navegacion*/
.content{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;

    grid-area: nav;
}
/*Efectos para los botones menu y close*/
.nav_container:target{
    --state-bg: translate(0);
    --state-close:scale(1);
    --state-menu:scale(0);
}

/* Estilos para lo barra de navegacion */
header{
    background: url('https://drive.google.com/uc?export=download&id=1cyW6Rj0e0BimicBYntnA_K0uZ1xhesex');
    height: 400px;
}
.nav_list{
    /* background-color: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    min-width: 320px;

    transform: var(--state-bg);
    transition: .3s transform;
    /*Imagen de la barra de navegacion responsive*/
    background-image: url('https://drive.google.com/uc?export=download&id=1tY-hPTntjfdcdF3GHJXV3EHCRZ1Ezz2L');
    background-size: cover;
    z-index: 1;
}
.nav_link{
    color: #fff ;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(139, 94, 255);
    box-shadow: 2px 4px 4px 2px rgba(154, 53, 255, 0.37);
}
.nav_item{
    list-style: none;
}
/*Botones para el menu movile*/
.nav_menu,
.nav_close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    z-index: 1;
    transition: .5s;
}
.nav_menu{
    transform: var(--state-menu);
    background: rgb(0, 47, 255);
    border-radius: 10px;
}
.nav_close{
    transform: var(--state-close);
    background: rgba(230, 37, 37, 0.879);
    border-radius: 10px;
}
.nav_icon{
    width: 40px;
}/*--------------------------------------------------------------------------------*/
/* --------------------------- Estilos para el index.html ---------------------- */
/*----------------------------------------------------------------------------*/
/* Estilos para la nav del main */
.nav_main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilos para los botones */
.nav_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{ 
    text-decoration: none;
    padding: 15px 35px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
}
.button-1{
    color:  #a98c42;
}
.button-1::after, .button-1::before{
    border: 2px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease;
}
.button-1:hover{
    color:#000;
}
.button-1:hover::after{
    transform: translate(-5px, -5px);
}
.button-1:hover::before{
    transform: translate(5px, 5px);
}

.main_home{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #fff;

    grid-area: content;
}
/* Estilos para el contenedor de la imagen de firma */
.img_profile{
    display: inline-block;
    position: absolute;
    top: 250px;
    width: 150px;
}
/* Estilos para la imagen firma */
.img_profile img{
    width: 100%;
    border-radius: 10px;
}
/* Estilos para el carusel bootstrap */
.carousel_main{
    width: 70%;
    margin-bottom: 30px;
    background-color: #333;
    box-shadow: 3px 7px 7px 3px #7d7979;
}

/* Estilos para la img del carusel */
.carousel-inner img{
    object-fit: contain;
}
.carousel-caption{
    background-color: #000;
    opacity: .7;
    border-radius: 10px;
}
.carousel-caption h5{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.carousel-caption p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.carousel-caption a{
    color: #fff;
    background-color: #0091ff;
    padding: 5px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}
/* Estilos para el nombre del dibujante */
.name_home{
    font-size: 40px;
    padding: 0 15px;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 140px;
    text-align: center;
}
/* Estilos para linea de separacion */
.line{
    width: 90%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #a98c42d9;
}
/* Estilos para la Imagen "Ojo ojo" */
/* .home_img_container{
    order: 2;
    display: flex;
    justify-content: center;
}
.home_img{
   width: 55%;
   animation: rotation 15s infinite linear;
} */
/*Efecto de rotacion para la imagen del inicio*/
/* @keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
} */
/*----------------------------------------------------------------------------*/
/* ---------------------- Estilos para acerca_de.html ----------------------- */
/*----------------------------------------------------------------------------*/
/* Estilos para el Contenido principal */
.main_about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    grid-area: content;
}
/* Estilos para los contenedores about */
/* Estilos para la seccion de biografia */
.about_bio{
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
/* Imagen de biografia */
.about_bio img{
    width: auto;
    height: 400px;
}
/* Texto biografia */
.about_bio_content h2{
    padding: 10px 10px;
}
.about_bio_content{
    width: 60%;
    height: auto;
    margin: 30px auto;
    text-align: center;
}
/* Estilos la seccion de dibujo en vivo */
.content_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 40px;
}
.content_blog{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.card{
    width: 320px;
    margin-bottom: 15px;
}
.card img{
    width: 100%;    
}
/*------------------------------------------------------------------------------------*/
/* ---------------------------- Estilos para galeria.html ------------------------ */
/*--------------------------------------------------------------------------------*/
/* Estilos para Nav desktop */
.galeria_nav{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    grid-area: content;
}
/* Estilos para la Galeria */
.main_galeria{
    grid-area: content;
    margin-top: 480px;
}
.galeria{
    display: grid;
    width: 90%;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    gap: 20px;
    padding: 20px 15px;
    background-color: #333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    grid-area: content;
}
/*Estilos para las imaganes de la galeria*/
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}
/*Estilos para el zoom de las imagenes*/
.light_box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.light_box img{
    min-width: 25vh;
    max-height: 100vh;
}
/*Zoom a la img*/
.light_box:target{
    transform: scale(1);
}
/*Estilos para los botos next y close*/
.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgba(230, 37, 37, 0.879);
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    font-size: 30px;
}
.next {
    display: block;
    background: #333;
    color: #9dff00;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
}
/*------------------------------------------------------------------------------------*/
/* ---------------------------- Estilos para el cuadros.html ------------------------ */
/*-----------------------------------------------------------------------------------*/
/* Estilos para el Contenedor principal */
.main_blog{
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #fff;

    grid-area: content;
}
/* Estilos para la seccion del carousel de cuadros */
.cuadros_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel_cuadros{
    width: 70%;
    margin-bottom: 30px;
    background-color: #333;
    box-shadow: 3px 5px 5px 3px rgb(115, 108, 108);
}
.carousel-inner img{
    height: 500px;
}
/* Estilos para seccion season bone */
.season_bones{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.season_title{
    text-align: center;
    margin-top: 30px;
}
.season_title span{
    font-size: 35px;
    font-weight: 500;
}
.season_title p{
    font-size: 20px;
    font-weight: 300;
    margin: 10px 40px;
}
.season_container{
    width: 90%;
    height: 500px;
    margin:20px auto;
    background-color: #333;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.season_container img{
    height: 500px;
}
/*------------------------------------------------------------------------------------*/
/* ---------------------------- Estilos para el contacto.html ------------------------ */
/*-------------------------------------------------------------------------------------*/
/* Estilos para el Contenido principal */
.main_contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;

    grid-area: content;
}
/* Estilo para las redes sociales de contacto */
.contacto_redes_title{
    text-align: center;
    margin-bottom: 40px;
}
.contacto_redes{
    width: 90%;
    height: 200px;
    text-align: center;
}
.contacto_item i{
    color: #000;
}
.contacto_list{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 auto;
}
.contacto_link{
    font-size: 70px;
    padding: 7px;
    color: #000;
}
/* Estilos para el formulario */
.contacto_form_title{
    text-align: center;
}
.contacto_form{
    width: 60%;
    padding: 10px 10px;
}
/* ------------------------------------------------------------------------------ */
/* ---------------------------- Estilos para el Footer ------------------------ */
/* ------------------------------------------------------------------------------ */
/* Estilos para el contenedor del footer */
.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000 ;

    grid-area: footer;
}
/* Estilos para el copyright */
.footer_title{
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    margin-top: 15px;
    padding: 0px 50px;
    text-align: center;
}
/* Estilos para la nav del footer */
.footer_nav{
    padding: 5px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
/* Estilos para redes sociales */
.footer_item{
    padding: 10px 20px;
}
.footer_link{
    bottom: 10px;
    font-size: 40px;
}
.bi{
    color: #fff;
}
.bi-facebook:hover{
    color:#0f90f3 ;
    transition: 0.5s ease-out;
}
.bi-instagram:hover{
    color: #c71683;
    transition: 0.5s ease-out;
}
.bi-pinterest:hover{
    color: #de4040;
    transition: 0.5s ease-out;
}
.bi-youtube:hover{
    color: #c00000;
    transition: 0.5s ease-out;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------Media para el modo responsive------------------------- */
/* ------------------------------------------------------------------------------ */
/*Estilos para galeria modo movile*/
@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close{
        top: 20px;
        right: 20px;
    }
}
/*Estilos para la navegacion*/
@media (min-width:768px) {

    .nav_container{
        --state-menu: scale(0);
        --state-bg: translate(0);
    }
    /*Efectos para los botones menu y close*/
    .nav_container:target{
        --state-close:scale(0);
    }
    /*Efectos para la navegacion en modo Desktop*/
    .nav_list{
        display: none;
        background-color: unset;
        background-image: unset;
        position: unset;
        padding: 0;
        gap: 1.5em;
        transform: unset;
        grid-auto-flow: column;
        grid-column: -2/-1;
        grid-row: 1/2;
    }
    .nav_link{
        font-size: 1rem;
        letter-spacing: none;
    }
}
/*Media queries para index.html*/
@media (max-width:800px) {
    .main_home{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
    .nav_main{
        display: none;
    }
    .carousel_main,
    .carousel_cuadros,
    .cuadros_container,
    .season_bones,
    .season_container{
        width: 100%;
    }
    /*Estilos para galeria modo movile*/
    .light-box img {
        width: 85vw;
        max-height: 100vh;
    }
    .main_galeria{
        margin-top: 330px;
    }
    /* Estilos para acerca_de.html */
    .about_bio{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
/*Media queries para acerca_de.html*/
@media(max-width:1200px){
     /*Media queries para eventos.html*/
    .main_blog,
    .section_container_blog,
    .section_col_blog,
    /*Media queries para contacto.html*/
    .main_contact{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }
}
